@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

html, body{
    width: 100vw;
}

img{
    width: 100vw;
}

a{
    display: block;
    background-color: darkred;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    padding: 20px;
    width: 100vw;
    box-sizing: border-box;
}

a:hover{
    background-color: red;
    border: 2px solid transparent;
}
