@charset "UTF-8";

body, html{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: black

}

main{
    background-color: rgb(193, 105, 193);
    width: 100vw;
    height: 100vh;
    position: relative;

}

section#telefone{
    position: absolute;
    background-color: aqua;

}

section#icones{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-70% , -50%)
    

}
img{
    width: 50px;
    border-radius: 50%;
    box-sizing: border-box;
}