@charset "UTF-8";

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

main{
    height: 98vh;
    
    
}
body{
    background: url('../imagens/fundo-madeira.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

#telefone{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    height: 662px;
    width: 311px;
    

    background: url('../imagens/frame-iphone-peq.png') no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

section#telefone{
    height: 98vh;
}

iframe#tela{
    position: relative;
    top: 112px;
    left: 49px;

    width: 214px;
    height: 378px;
    background-size: cover;
    background-position: center center;
}

section#redes-sociais{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    top: 0%;
    left: 92%;
    height: 98%;
    
}


section#redes-sociais img{
    width: 50px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

section#redes-sociais img:hover{
    transform: scale(1.2);  
}


